// Colors
$primary-color: #182C61;
$background-color: #f5f6fa;
$button-color: #44bd32;
$button-hover: #4cd137;
$text-color: #fff;

// Fonts
$font-main: Roboto, sans-serif;

// Breakpoints
$breakpoint-md: 1023px;
$breakpoint-sm: 767px;